@model IEnumerable<CodingCraft_02.Models.CategoriaProduto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Criar")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Categoria
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.CategoriaProdutoId }) |
            @Html.ActionLink("Detalhes", "Detalhes", new { id=item.CategoriaProdutoId }) |
            @Html.ActionLink("Excluir", "Excluir", new { id=item.CategoriaProdutoId })
        </td>
        <td>
			@item.Categoria
        </td>
    </tr>
}

</table>


