@model CodingCraft_02.Models.Produto

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<fieldset>
    <legend>Produto</legend>

    <div class="display-label">Nome</div>
    <div class="display-field">@Model.Nome</div>

    <div class="display-label">Tamanho</div>
    <div class="display-field">@Model.Tamanho</div>

    <div class="display-label">EstiloGola</div>
    <div class="display-field">@Model.EstiloGola</div>

    <div class="display-label">Preco</div>
    <div class="display-field">@String.Format("{0:F}", Model.Preco)</div>

    <div class="display-label">Estoque</div>
    <div class="display-field">@Model.Estoque</div>

    <div class="display-label">CategoriasProduto</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.CategoriasProduto).ToString()</div>

    <div class="display-label">GruposProdutos</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.GruposProdutos).ToString()</div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Editar", new { id=Model.ProdutoId }) |
    @Html.ActionLink("Voltar", "Index")
</p>


