@model IEnumerable<CodingCraft_02.Models.Produto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Criar")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Nome
        </th>
        <th>
            Tamanho
        </th>
        <th>
            EstiloGola
        </th>
        <th>
            Preco
        </th>
        <th>
            Estoque
        </th>
        <th>
            CategoriasProduto
        </th>
        <th>
            GruposProdutos
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.ProdutoId }) |
            @Html.ActionLink("Detalhes", "Detalhes", new { id=item.ProdutoId }) |
            @Html.ActionLink("Excluir", "Excluir", new { id=item.ProdutoId })
        </td>
        <td>
			@item.Nome
        </td>
        <td>
			@item.Tamanho
        </td>
        <td>
			@item.EstiloGola
        </td>
        <td>
			@String.Format("{0:F}", item.Preco)
        </td>
        <td>
			@item.Estoque
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.CategoriasProduto).ToString()
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.GruposProdutos).ToString()
        </td>
    </tr>
}

</table>


